<div>
    <div id="lopHeader"
        style="width: 100%; background: linear-gradient(180deg, rgba(0, 182, 240, 1) 0%, rgba(0, 84, 152, 1) 100%); padding: 0.5rem 0; z-index: 1001; top: 0; width: 40%; margin: 0 auto;">
        <img class="logo" src="../../../../../../assets/images/Citi_Registered_Logo_3x.png" style="padding: 1rem;">
    </div>
    <div>
        <div
            style="background-color: #002A54; color: white; z-index: 1008; position: relative; text-align: center; margin: 0 auto; width: 40%; padding-top: 2rem;">
            <div>
                Your Application is complete.
            </div>
            <div style="padding: 2rem;">
                Complete
            </div>
            <div style="padding-bottom: 2rem;">
                That's all,<br />
                {{offerDetail.customerName}}
            </div>
            <div style="padding-bottom: 2rem; width: 35%; margin: 0 auto;">
                Your cheque should arrive at your registered address within 5 to 6 working days, if there are no
                hold-ups.
                Mail can sometimes takes slightly longer.
            </div>
            <div>
                Meanwhile, we will contact you if we need further information.
            </div>
            <div style="padding: 3rem;">
                <hr style="width: 20%; border: none; height: 5px; background-color: white; margin: 0 auto;" />
            </div>
        </div>
    </div>
</div>