<hr>
<div class="funddetail-body text-size-11">
  <div class="fund-desc">
    <p>Other Fund</p>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label"> Company：</label>
    <div class="col-sm-10">
      <select #select class="form-control text-size-11" id="fund-company" name="funds"
        (change)='changeType(select.value)'>
        <option>please choose fund company...</option>
        <option *ngFor="let datadetail of companys" value="{{datadetail.code}}">
          {{datadetail.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label"> Type：</label>
    <div class="col-sm-10">
      <select #selectType class="form-control text-size-11" id="fund-type" name="fundtypes"
        (change)='selectFund(selectType.value)'>
        <option>please choose fund type...</option>
        <option *ngFor="let data of filtertypes" value="{{data.code}}">{{data.fundType}}</option>
      </select>
    </div>
  </div>

  <div class="fund-company-desc">
    <p class="fund-btn" *ngFor="let data of fundnames" (click)="submitFund(data)" data-toggle="modal"
      data-target="#myModal">{{data.fundName}}</p>
  </div>

  <!-- <div class="cancel-btn">
    <button class="btn-primary btn">取消</button>
  </div> -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 720px;">
    <div class="modal-content" style="width: 720px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Purchase info
        </h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <label for="firstname" class="col-sm-offset-2 col-sm-2 control-label">Category:</label>
          <div class="col-sm-6">
            <select class="form-control" disabled>
              <option selected>Taiwan specific money trust</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="row">
          <label for="lastname" class="col-sm-offset-2 col-sm-2 control-label">Name:</label>
          <div class="col-sm-6 default-value bug-fund-value bug-fund-value" *ngIf="modalFund!=''">
            {{modalFund.fundName}}
          </div>
          <div class="col-sm-6 default-value bug-fund-value bug-fund-value" *ngIf="modalFund==''">

          </div>
        </div>
        <div class="row">
          <label for="lastname" class="col-sm-offset-2 col-sm-2 control-label">Unit Worth:</label>
          <div class="col-sm-6 default-value bug-fund-value">
            USD {{FundOriginalPrice}} (reference)
          </div>
        </div>
        <div class="row">
          <label class="col-sm-offset-2 col-sm-2 control-label">Save to:</label>
          <div class="col-sm-6 default-value bug-fund-value">
            Fund：{{fundaccountNo}}
          </div>
        </div>
        <div class="row">
          <label class="col-sm-offset-2 col-sm-2 control-label">Min amount:</label>
          <div class="col-sm-6 default-value bug-fund-value">
            TWD 30,000.00
          </div>
        </div>
        <div class="row">
          <label class="col-sm-offset-2 col-sm-2 control-label">Purchase price:</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" placeholder="TWD" disabled>
          </div>
          <div class="col-sm-2">
            <input type="text" id="quantity" name="quantity" class="form-control">
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="consent" (change)="setConsentFlag()">本人已阅申购说明书
                </label>
              </div>
            </div>
          </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#confirmationModal" (click)="submitBuyQuantity()">submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="width: 720px;">
    <div class="modal-content" style="width: 720px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        </button>
        <h4 class="modal-title" id="myModalLabel">
          confirm
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <label for="lastname" class="col-sm-offset-2 col-sm-2 control-label">Fund name:</label>
          <div class="col-sm-6 default-value bug-fund-value" *ngIf="transaction!=undefined">
            {{transaction.fund.fundName}}
          </div>
          <div class="col-sm-6 default-value bug-fund-value" *ngIf="transaction==undefined">

          </div>
        </div>

        <div class="row">
          <label for="lastname" class="col-sm-offset-2 col-sm-2 control-label">Price:</label>
          <div class="col-sm-6 default-value bug-fund-value" *ngIf="transaction!=undefined">
            USD {{transaction.originalPrice}}
          </div>
          <div class="col-sm-6 default-value bug-fund-value" *ngIf="transaction==undefined">

          </div>
        </div>
        <div class="row">
          <label for="lastname" class="col-sm-offset-2 col-sm-2 control-label">Account:</label>
          <div class="col-sm-6 default-value bug-fund-value" *ngIf="transaction!=undefined">
            {{transaction.accountNo}}
          </div>
          <div class="col-sm-6 default-value bug-fund-value" *ngIf="transaction==undefined">

          </div>
        </div>
        <div class="row">
          <label for="lastname" class="col-sm-offset-2 col-sm-2 control-label">Amount:</label>
          <div class="col-sm-6 default-value bug-fund-value" *ngIf="transaction!=undefined">
            TWD {{quantity}}
          </div>
          <div class="col-sm-6 default-value bug-fund-value" *ngIf="transaction==undefined">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <button type="button" class="btn btn-primary" (click)="confirmBugFund()">done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->