<div class="buy-body">
  <h2 class="buy-title">Apply for a Mutual Fund</h2>
  <p class="buy-desc">Please select the fund you want to invest from your existing fund or the currently listed fund menu</p>

  <table class="table">
    <thead class="thead-dark">
    <tr class="buy-table-title text-size">
      <th scope="col">Currently Hold</th>
      <th scope="col">Trust Account</th>
      <th scope="col">Account Type</th>
      <th scope="col">Number of Units</th>
      <th scope="col">Reference value</th>
      <th scope="col">Other options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let holding of data" class="text-size">
      <td>{{holding.fund.fundName}}</td>
      <td>fund：{{holding.accountNo}}</td>
      <td>{{holding.fund.fundType}}</td>
      <td>{{holding.fund.unitPrice}}</td>
      <td>{{holding.originalPrice}}</td>
      <td>more</td>
    </tr>
  </tbody>
  </table>
</div>
<app-funddetail></app-funddetail>