.buy-title{
    color: red;
    margin-top: 8px;
}

.buy-body{
    margin-left: 20px;
    width: fit-content;
}
.buy-table-title{
    background-color: #056dae;
    color: white;
    font-weight: normal;
}
.text-size{
    font-size: 1.5rem !important; 
}
.table th{
    margin-right: 5px;
}
